In [4]:
# Importar base de dados
# importar pasta da planilha DRE
    # grafico de coluna mostrando os custos de o lucro por mes
# Importar pasta da planilha Custos
    # comparar as categorias com o total do custo
# Visualizar base de dados
# Corrigir base de dados

# passo 1: importar base de dados
import pandas as pd
# tabela_dre = pd.read_excel('Mapa_Financeiro_LPM_2023.xlsx', sheet_name='DRE')
tabela = pd.read_excel("Mapa_Financeiro_LPM_2023.xlsx", sheet_name=1)

# passo 2: vizualizar as tabelas
# display(tabela_dre)
display(tabela)

,Tipo,Data,Entidade,Categoria,Descrição,Nome,Forma de Pagamento,Nota Fiscal,Indicador,Entrada,Saída,Modo de ajuste,Saldo,Mês,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Despesas,2023-07-16,Restaurante,Alimentos,Carnes,Pão de Açúcar,pag pix,NaN,0.0,NaN,1225.55,NaN,-1225.55,7.0,NaN,NaN,NaN,NaN,Total
1,Despesas,2023-07-16,Restaurante,Alimentos,Carnes,Pão de Açúcar,pag pix,NaN,0.0,NaN,1203.64,NaN,-2429.19,7.0,NaN,NaN,NaN,NaN,NaN
2,Despesas,2023-07-17,Restaurante,Alimentos,Carnes,Pão de Açúcar,cnl pix pag,NaN,0.0,NaN,908.16,NaN,-3337.35,7.0,NaN,NaN,NaN,NaN,NaN
3,Despesas,2023-07-17,Restaurante,Alimentos,Alimentos e Limpeza,Mãe Rainha,Compra com Cartão,NaN,0.0,NaN,615.89,NaN,-3953.24,7.0,NaN,NaN,NaN,NaN,NaN
4,Despesas,2023-07-17,Restaurante,Alimentos,Alimentos e Limpeza,J&L,Compra com Cartão,NaN,0.0,NaN,59.02,NaN,-4012.26,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20215,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20216,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20217,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20218,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20219,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# display(tabela_dre.info())
display(tabela['Tipo', 'Despesas'].value_counts())

KeyError: ('Tipo', 'Despesas')